# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
DATA/
FC_DATA/
*.npy
*.nii.gz

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

IEEE/
results/
Reference Docs/

*.txt